.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.imgLogo {
  width: 28px;
  height: 28px;
}
.logoText {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: var(--main-text);
}
